.newsbox{
  border: 2px #c7c7c7 solid;
  width: 100%;
  height: fit-content;


  .newsBoxHeader{
    padding: 10px 11px;
    .rows{
      padding: 0;
      .cols{
        padding: 10px 15px 5px; 
        background-color: #c7c7c7;
        font-size: 25px;
        font-weight: 600;
      }
    }
  }

  .newsBoxBody{
    padding: 25px 0px;
    .rows{
      padding: 0px 30px;

      .cols{
        padding: 10px 0px 0px;
        border-bottom: 2px #c7c7c7 solid;

        &._fit_cont{
          min-width: 80px;
          max-width: 100px;
          .v-img{
            min-width: 80px;
            max-width: 100px;
          }
          .newsdate{
            text-align: center;
            font-size: 12px;
            font-weight: 600;
          }
        }

        &._logo{
          padding: 5px 0px 5px;
          .logo_img{
            min-height: 40px;
            max-height: 60px;
          }
        }
        
        &._title{
          padding: 10px 10px 0px;
          align-items: center;
          .newstitle{
            margin-top: 2px;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    
    }
  }

  @media screen and (max-width:480px) {
    .newsBoxBody{
      padding: 25px 0px;
      .rows{
        padding: 0px 30px;
  
        .cols{
          padding: 10px 0px 0px;
          border-bottom: 2px #c7c7c7 solid;
  
          &._fit_cont{
            min-width: 80px;
            max-width: 100px;
            .v-img{
              min-height: 40px;
              max-height: 60px;
            }
            .newsdate{
              text-align: center;
              font-size: 12px;
              font-weight: 600;
            }
          }
  
          
          &._logo{
            padding: 5px 0px 5px;
            .logo_img{
              min-width: 50px;
              max-width: 70px;
            }
          }
  
          &._title{
            padding: 10px 10px 0px;
            align-items: center;
            .newstitle{
              margin-top: 2px;
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      
      }
    }
    
  }

  .showAllText{
    padding: 0px 20px 15px;
    text-align: end;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
  }


}