
.v_col_logo {
  min-width: fit-content;

  >.v-img {
    width: 140px;
    min-width: 120px;
    margin-left: 30px;
  }
}

.v_col_menu {
  max-width: fit-content;
}

.v_col_sign {
  max-width: fit-content; 
  margin-right: 20px;

  .signArea {
    display: flex; 
    align-items: center; 

    .menu_toggle {
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 27px;
      background: transparent;
      border: none;
      span {
        width: 100%;
        height: 2px;
        background-color: white;
      }
    }
    .sign_btn {
      width: 100px;
      height: 45px;
      margin-left: 15px;
      background-color: #ffa500;
      background: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
      color: rgb(51, 51, 51);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      box-shadow: -3.828px -3.828px 6px 0px rgba(255, 200, 39, 0.4), 3px 5px 8px 0px rgba(255, 82, 1, 0.2);
      font-size: 15px;
      span {
        margin-top: 2px;
      }
    }
  }
}